/********************************************************************
Bar Chart custom css file

********************************************************************/


#mychart {
			min-width: 310px;
			max-width: 800px;
			height: 600px;
			margin: 50px auto
				}
